NEO4J_SERVER = ''
NEO4J_OS_USERNAME = ''
NEO4J_KEYPATH = ''
NEO4J_DATA_DIR = ''
NEO4J_HOME_DIR = ''
REMOTE_NEO4J_SERVER = ''
REMOTE_NEO4J_OS_USERNAME = ''
REMOTE_NEO4J_KEYPATH = ''
REMOTE_NEO4J_DATA_DIR = ''    

NEO4J_SERVER = 'bolt://hubmap-neo4j:7687'
NEO4J_USERNAME = 'neo4j'
NEO4J_PASSWORD = '123'
UUID_WEBSERVICE_URL = 'http://hubmap-auth:9999/hmuuid'
NEXUS_TOKEN = ''
APP_CLIENT_ID = ''
APP_CLIENT_SECRET = ''