cachetools>=4.2.1
Flask>=1.1.2
jsonref>=0.2
jsonschema>=3.2.0
neo4j>=4.2.1
pytz>=2021.1
property>=2.2

# Airflow dependes on globus_sdk==1.9.0
globus_sdk>=1.9.0

# cwltool uses prov==1.5.1
# Will remove provenance.py and this prov dependency later
prov>=1.5.1

# It's an agreement with other collaborators to use the beblow versions
# for requests and PyYAML
requests>=2.22.0
PyYAML>=5.3.1